@import './reset.css';

body {
  min-height: 100vh;
  display: flex;
}

#root {
  flex: 1;
  max-width: 1600px;
  margin: 0 auto;
  
  display: grid;
  grid-template-columns: auto 1fr;
}

main {
  display: flex;
}